/* General Styles */
body {
    background-color: #1e1f21;
    font-family: 'Public Sans', sans-serif;
    color: #dedede;
    padding: 64px 128px;
}

h1 {
    font-weight: bold;
    color: #dedede;
    font-size: 35px;
    padding-bottom: 20px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

label {
    font-size: 16px;
}

p, li{
    font-size: 15px;
    line-height: 21px;
}

table {
    width: 100%;
}

td {
    padding-bottom: 16px;
    padding-left: 32px;
}


/* Image and Canvas Styles */
img {
    height: 200px;
    object-fit: cover;
}

canvas {
    width: 50px;
    height: 50px;
}

/* Button Styles */
.buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

button {
    font-size: 14px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(107, 156, 224);
    color: rgb(245, 245, 255);
    cursor: pointer;
    flex: 1;
}

.tooltip {
    display: none; 
    position: absolute;
    background-color:  #0f0f11; 
    color: #fff; 
    padding: 10px 10px; 
    border-radius: 4px; 
    font-size: 13px; 
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 1s;

}

/* Display the tooltip when hovering over a disabled button */
button:disabled:hover .tooltip {
    display: block;
    opacity: 1; 
}

button:disabled {
    background-color: rgba(231, 231, 231, 0.2);
    color: rgba(231, 231, 231, 0.7);
}

button:not(:disabled):hover, #rest-btn:not(:disabled):hover {
    background-color: rgb(91, 134, 193);
    color: #ffffff; 

}

/* Styling for the reset button */
#reset-btn:not(:disabled) {
    background-color: rgba(45, 141, 243, 0.2); 
    color: rgb(106, 151, 213);
    transition: background-color 0.3s, border 0.3s, color 0.3s; 
}

#reset-btn:not(:disabled):hover {
    background-color: rgba(20, 89, 163, 0.2); 
    color: rgb(104, 138, 186); 
}

/* Accordion Styles */
.accordion {
    background-color: #27282b;
    color: #fff;
    cursor: pointer;
    padding: 15px 24px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #191a1d;
}

.panel {
    padding: 5px 28px;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Plus sign */
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Minus sign */
}

/* Spinner Styles */
.spinner {
    width: 12px;
    height: 12px;
    float: left;
    border: 4px solid #bcbcbc;
    border-top: 4px solid #5ca9fa;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 15px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Hint Styles */
.hint {
    color: #787777;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Correct and Incorrect Styles */
.correct, .incorrect, .info {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
}

.correct {
    background-color: rgba(4, 168, 28, 0.3);
    border: solid rgb(1, 139, 22);
}

.info {
    background-color: rgba(148, 148, 148, 0.3);
    border: solid rgb(170, 170, 170);
}

.incorrect {
    background-color: rgba(149, 0, 0, 0.3);
    border: solid rgb(149, 0, 0);
}

/* No Background Class */
.correct.no-background, .incorrect.no-background {
    background-color: transparent;
    border-color: transparent;
}

.message{
    background-color: rgba(149, 97, 0, 0.3);
    border: solid rgb(149, 97, 0);
    padding: 10px 20px;
    border-radius: 6px;
    border-width: 1px;
    width: 98%;
}

/* Prediction Button Styles */
.prediction-button {
    font-size: 14px;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: solid;
    background-color: rgba(107, 156, 224, 0.264);
    border-color: rgb(107, 156, 224);
    color: rgb(243, 243, 243);
    cursor: pointer;
    flex: 1;
}

