body{
    background-color: #1e1f21;
    font-family: 'Public Sans', sans-serif;
	color: dedede;
	padding-left: 128px;
	padding-top: 64px;
	padding-right: 128px;
	padding-bottom: 64px; 
}

table{
    width: 100%;
}

td {
    padding-bottom: 16px;
    padding-left: 32px; /* Adds padding to cells */
}

table td:first-child {
    width: 40%; /* The left cell takes up 40% of the table width */
}

table td:last-child {
    width: 60%; /* The right cell takes up 60% of the table width */
}

img{
    height: 150px; 
}

canvas{
    width: 50px;
    height: 50px;
}

h1{
	font-weight: bold;
	color: #dedede;
    font-size: 35px;
    padding-bottom: 20px;
}

h2{
	font-size: 20pt;
	font-weight: bold;
}

label{
    font-size: 15px;
	font-weight: bold;
}

p{
    font-size: 15px;
    line-height: 23px; 
}

#dropzone {
    border: 1px dashed #838383;
    border-radius: 20px;
    padding: 50px;
	box-sizing: border-box; /* Ensures padding and border are included in width */
    width: 100%;
text-align: center;
}

#dropzone:hover {
background-color: rgb(107, 156, 224, 0.1);
cursor: pointer;
}

#upload-link {
    text-decoration: underline;
    cursor: default;
    color: rgb(107, 156, 224);
}

#upload-link:hover {
    color: rgb(89, 130, 186);
}

#uploaded-image {
    display: none;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.buttons {
    margin-top: 16px;
	display: flex; /* Uses flexbox layout */
    justify-content: space-between; /* Spreads the buttons evenly */
    width: 100%; /* Matches the width of the dropzone */
    box-sizing: border-box; 
}

button {
    font-size: 14px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(107, 156, 224);
    color: white;
    cursor: pointer;
	flex: 1; /* Each button takes an equal amount of space */

}

button:disabled {
    background-color: #a5a5a5;
}

button:not(:disabled):hover {
    background-color: rgb(91, 134, 193);
}


#uploadLink:hover {
    text-decoration: none;
}

.dropzone.dragover {
    border-color: #4CAF50;
    background-color: #f0f0f0;
}

#currentImage{
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode:normal;
    z-index: 11;
}

/* CSS for accordion */
.accordion {
    background-color: #27282b;
    color: #fff;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #191a1d; 
  }
  
  .panel {
    padding-top: 5px;
    padding-left: 28px;
    padding-right: 28px;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  